<h1 mat-dialog-title>{{configModel?.Name || 'New Configuration'}}</h1>
<div mat-dialog-content>
  <div class="config-preview">
    <div class="weapon-container">
      <mat-chip-list>
        <span>Weapon:</span> <mat-chip [selectable]="false" color="primary" [selected]="true">{{configModel?.Type?.name || 'Select a Weapon'}}</mat-chip>
      </mat-chip-list>
      <img [src]="configModel?.Type?.image" alt="">
    </div>
    <div class="sidebar">
      <mat-chip-list>
        <span>Optics:</span><mat-chip [selectable]="false" color="primary" [selected]="true">{{configModel?.Optic?.name || 'Select Optic'}}</mat-chip>
      </mat-chip-list>
      <div class="attachment-container">
        <img [src]="configModel?.Optic?.image" alt="">
      </div>
      <mat-chip-list>
        <span>Ammo:</span><mat-chip [selectable]="false" color="primary" [selected]="true">{{configModel?.Ammo?.name || 'Select Ammo'}}</mat-chip>
      </mat-chip-list>
      <div class="ammo-container">
        <img [src]="configModel?.Ammo?.image" alt="">
      </div>
    </div>
  </div>
  <form [formGroup]='configForm'>
    <mat-grid-list [cols]="4" rowHeight="2:1" gutterSize="10px">
      <mat-grid-tile>
        <mat-form-field appearance="standard">
          <input matInput formControlName="Name" placeholder="Configuration name" type="text">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="standard">
          <mat-select formControlName="Type" placeholder="Select Weapon">
            <mat-option *ngFor="let type of weaponTypes" [value]="type">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="standard">
          <mat-select formControlName="Optic" placeholder="Select Optic">
            <mat-option *ngFor="let optic of weaponOptics" [value]="optic">
              {{optic.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="standard">
          <mat-select formControlName="Ammo" placeholder="Select Ammo">
            <mat-option *ngFor="let ammo of weaponAmmo" [value]="ammo">
              {{ammo.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="resetForm()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submitConfig(configForm.value)">Submit</button>
</div>
