.config-preview {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.sidebar {
  width: 20%;
  display: inline-block;
  margin-left: 5%;
}
.ammo-container, .attachment-container {
  padding: 5px;
  position: relative;
  width: 50%;
  display: block;
}
.weapon-container {
  vertical-align: top;
  padding: 5px;
  position: relative;
  width: 60%;
  display: inline-block;
}
.weapon-container, .ammo-container, .attachment-container {
  border: 1px lightgray dashed;
  border-radius: 10px;
  > img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
